<section class="portafolio" id="portafolio">
    <h2 class="heading">Last <span>Projects</span></h2>
    <div class="portafolio-container">
        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_01.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>E-commerce</h4>
                <p>
               Angular and Firebase
                </p>
                <a href="https://ecommerce-7a904.web.app/login"><i class="bx bx-link-external"></i></a>
            </div>
        </div>
        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_02.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Encrypter</h4>
                <p>
                    An encrypter is a tool that converts data into a secret and unreadable form using cryptographic techniques for security.
                </p>
                <a href="https://cfph31415.github.io/Challenge-Oracle-One/"><i class="bx bx-link-external"></i></a>
            </div>
        </div>
        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_03.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Api</h4>
                <p>
                  Api of pokemon 
                </p>
                <a href="https://cfph31415.github.io/api/home"><i class="bx bx-link-external"></i></a>
            </div>
        </div>
        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_04.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Task Manager</h4>
                <p>
                    Creating tasks, marking them as completed and delete tasks that are not longer neccesary to show.
                  </p>
                <a href="https://cfph31415.github.io/Task-Manager/"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_05.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Valentine's day</h4>
                <p>
                  Something special I did for my girlfriend
                </p>
                <a href="https://cfph31415.github.io/Happy-Valentines-Day-Cyril/"><i class="bx bx-link-external"></i></a>
            </div>
        </div>
        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_06.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Api</h4>
                <p>
                  Api of pokemon 
                </p>
                <a href=""><i class="bx bx-link-external"></i></a>
            </div>
        </div>
    </div>
</section>