<section class="portafolio" id="portafolio">
    <h2 class="heading">Last <span>Projects</span></h2>
    <div class="portafolio-container">
        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_01.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>E-commerce</h4>
                <p>
               Angular and Firebase
                </p>
                <a href="https://ecommerce-7a904.web.app/login"><i class="bx bx-link-external"></i></a>
            </div>
        </div>
      
        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_05.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Valentine's day</h4>
                <p>
                  Something special I did for my girlfriend
                </p>
                <a href="https://cfph31415.github.io/Happy-Valentines-Day-Cyril/"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_03.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Api</h4>
                <p>
                  Api of pokemon 
                </p>
                <a href="https://cfph31415.github.io/api/home"><i class="bx bx-link-external"></i></a>
            </div>
        </div>


        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_04.png" width="200" alt="">
            <div class="portafolio-layer">
                <h4> Converter using Java</h4>
                <p>
                    Currency, Temperature, Time and more!               
                 </p>
                <a href="https://github.com/CFPH31415/Challenge-Conversor"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_02.png" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Reservation in a hotel</h4>
                <p>
                  Java and MySQL 
                </p>
                <a href="https://github.com/CFPH31415/HotelAlura"><i class="bx bx-link-external"></i></a>
            </div>
        </div>



        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_06.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Java, Spring Boot, MySQL, Insomnia</h4>
                <p>
                  API REST
                </p>
                <a href="https://github.com/CFPH31415/challengeoneforoalura5"><i class="bx bx-link-external"></i></a>
            </div>
        </div>

    </div>
</section>