<header class="header">
    <a href="" class="logo">My Portfolio</a>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
        <ul>
            <li><a href="#home" class="active">About me</a></li>
            <li><a href="#about"> My Hardskills and Softskills</a></li>
            <li><a href="#services">What can I offer?</a></li>
            <li><a href="#portafolio">Projects</a></li>
            <li><a href="#contactme">Contact me</a></li>


        </ul>
    </nav>

</header>
<app-home></app-home>

<app-about></app-about>

<app-services></app-services>

<app-portafolio></app-portafolio>
<app-contactme></app-contactme>