<section class="about" id="about">
    <div class="about-content">
        <h1>My Hardskills and Softskills</h1>
         </div>
         <div  class="w-full hardSkill">
            
            <img src="assets/image/html.png" alt="">
            <img src="assets/image/css.png" alt="">
            <img src="assets/image/javascript.png" alt="">
            <img src="assets/image/boostrap.jpg" alt="">
            <img src="assets/image/angular.png" alt="">
            <img src="assets/image/typescript.png" alt="">
            <img src="assets/image/git.png" alt="">
            <img src="assets/image/jasmine.jpg" alt="">
            <img src="assets/image/java.png" alt="">
            <img src="assets/image/mysql.png" alt="">
            <img src="assets/image/springboot.png" alt="">
            <img src="assets/image/api.jpg" alt="">
            <img src="assets/image/firebase.png" alt="">
            <img src="assets/image/eclipse.png" alt="">
            <img src="assets/image/visual.jpg" alt="">  
            <img src="assets/image/intellij.png" alt="">

            <img src="assets/image/ingles.webp" alt="">
            <img src="assets/image/figma.jpg" alt="">
            <img src="assets/image/trello.png" alt="">
            <img src="assets/image/Scrum.png" alt="">
            <img src="assets/image/Canvas.jpg" alt="">

        </div>
</section>