<section class="about" id="about">
    <div class="about-content">
        <h1>My Hardskills and Softskills</h1>
    </div>
    <div class="w-full hardSkill">
        <div class="skill">
            <img src="assets/image/html.png" alt="">
            <span class="skill-name">HTML5</span>
        </div>
        <div class="skill">
            <img src="assets/image/css.png" alt="">
            <span class="skill-name">CSS</span>
        </div>
        <div class="skill">
            <img src="assets/image/javascript.png" alt="">
            <span class="skill-name">JavaScript</span>
        </div>
        <div class="skill">
            <img src="assets/image/boostrap.jpg" alt="">
            <span class="skill-name">Bootstrap</span>
        </div>
        <div class="skill">
            <img src="assets/image/angular.png" alt="">
            <span class="skill-name">Angular</span>
        </div>
        <div class="skill">
            <img src="assets/image/react.png" alt="">
            <span class="skill-name">React</span>
        </div>
        <div class="skill">
            <img src="assets/image/vite.png" alt="">
            <span class="skill-name">Vite</span>
        </div>
        <div class="skill">
            <img src="assets/image/typescript.png" alt="">
            <span class="skill-name">TypeScript</span>
        </div>
        <div class="skill">
            <img src="assets/image/git.png" alt="">
            <span class="skill-name">Git</span>
        </div>
        <div class="skill">
            <img src="assets/image/node.png" alt="">
            <span class="skill-name">Nodejs</span>
        </div>
        <div class="skill">
            <img src="assets/image/npm.png" alt="">
            <span class="skill-name">npm</span>
        </div>
        <div class="skill">
            <img src="assets/image/jasmine.jpg" alt="">
            <span class="skill-name">Jasmine Y Karma</span>
        </div>
        <div class="skill">
            <img src="assets/image/java.png" alt="">
            <span class="skill-name">Java</span>
        </div>
        <div class="skill">
            <img src="assets/image/mysql.png" alt="">
            <span class="skill-name">MySQL</span>
        </div>
        <div class="skill">
            <img src="assets/image/mongodb.png" alt="">
            <span class="skill-name">Mongodb</span>
        </div>
        <div class="skill">
            <img src="assets/image/springboot.png" alt="">
            <span class="skill-name">Spring Boot</span>
        </div>
        <div class="skill">
            <img src="assets/image/api.jpg" alt="">
            <span class="skill-name">API</span>
        </div>
        <div class="skill">
            <img src="assets/image/json.png" alt="">
            <span class="skill-name">Json server </span>
        </div>
        <div class="skill">
            <img src="assets/image/firebase.png" alt="">
            <span class="skill-name">Firebase</span>
        </div>
        <div class="skill">
            <img src="assets/image/oracle.png" alt="">
            <span class="skill-name">Oracle Cloud Infrastructure (OCI)</span>
        </div>
        <div class="skill">
            <img src="assets/image/eclipse.png" alt="">
            <span class="skill-name">Eclipse</span>
        </div>
        <div class="skill">
            <img src="assets/image/visual.jpg" alt="">
            <span class="skill-name">Visual Studio</span>
        </div>
        <div class="skill">
            <img src="assets/image/intellij.png" alt="">
            <span class="skill-name">IntelliJ</span>
        </div>
        <div class="skill">
            <img src="assets/image/github.png" alt="">
            <span class="skill-name">Github</span>
        </div>
        <div class="skill">
            <img src="assets/image/vercel.png" alt="">
            <span class="skill-name">Vercel</span>
        </div>
        <div class="skill">
            <img src="assets/image/uxui.png" alt="">
            <span class="skill-name">UI/UX</span>
        </div>
        <div class="skill">
            <img src="assets/image/wordpress.png" alt="">
            <span class="skill-name">WordPress</span>
        </div>
        <div class="skill">
            <img src="assets/image/qatester.png" alt="">
            <span class="skill-name">QA Tester</span>
        </div>
        <div class="skill">
            <img src="assets/image/mailchimp.png" alt="">
            <span class="skill-name">Mailchimp</span>
        </div>
        <div class="skill">
            <img src="assets/image/ingles.webp" alt="">
            <span class="skill-name">Spanish & English</span>
        </div>
        <div class="skill">
            <img src="assets/image/figma.jpg" alt="">
            <span class="skill-name">Figma</span>
        </div>
        <div class="skill">
            <img src="assets/image/trello.png" alt="">
            <span class="skill-name">Trello</span>
        </div>
        <div class="skill">
            <img src="assets/image/Scrum.png" alt="">
            <span class="skill-name">Scrum</span>
        </div>
        <div class="skill">
            <img src="assets/image/kanban.png" alt="">
            <span class="skill-name">Kanban</span>
        </div>
        <div class="skill">
            <img src="assets/image/Canvas.jpg" alt="">
            <span class="skill-name">Canvas</span>
        </div>
    </div>
</section>
