<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, I'm</h3>
        <h1>Carlos Portillo</h1>
        <h3><span class="multiple-texto"></span></h3>
        <p>
            My name is Carlos Portillo, I am 27 years old from Peru. Since 2023, I entered the wonderful world of programming. I studied Front-End and Back-End through Oracle and Alura. I am highly motivated to continue learning and improving my soft skills and hard skills.
        </p>
        <p>I am a passionate Full Stack developer with experience in Front-End (HTML, CSS, JavaScript, TypeScript, Angular and React with Vite) 
            and Back-End (Java, Spring Boot, MySQL and Insomnia rest). The IDEs I work with include Visual Studio Code, 
            Eclipse and IntelliJ. </p> 
        <p>I am bilingual in Spanish and English which keeps me updated on the latest trends!</p>
        <p>My aspiration is to work on challenging projects that allow me to grow as a developer and contribute to the success of the development team I work with.</p>
        <div class="social-media">
            <a href="https://github.com/CFPH31415?tab=repositories" target="_blank" title="Visit my GitHub profile"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/carlos-portillo-hern%C3%A1ndez-027270259/" target="_blank" title="Visit my LinkedIn profile"><i class='bx bxl-linkedin'></i></a>
            <a href="https://app.aluracursos.com/program/certificate/1338adae-31ce-4be5-8a4f-0331d4ddef12?lang" target="_blank"><img src="assets/image/certificado.png" class="certificate-img" alt="Certificado" title="Front-End Certificate"></a>
            <a href="https://app.aluracursos.com/program/certificate/8c49be7c-aad1-4aec-901b-440a9a90ba4b" target="_blank"><img src="assets/image/certificado.png" class="certificate-img" alt="Certificado" title="Back-End Certificate"></a>
        </div>
        <a href="https://drive.google.com/file/d/1aa-LGqXz5jMr_xXdc0M3gJbXa46dqouX/view?usp=sharing" target="_blank" download class="btn">Download CV</a>
    </div>
    <div class="home-img">
        <img src="assets/image/home.png" alt="">
    </div>
</section>
