<section class="portafolio" id="portafolio">
    <h2 class="heading"><span>Projects</span></h2>
    <div class="portafolio-container">
        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_01.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>E-commerce</h4>
                <p>
               Angular and Firebase
                </p>
                <a href="https://ecommerce-7a904.web.app/login" target="_blank" ><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_03.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Api</h4>
                <p>
                  Api of pokemon 
                </p>
                <a href="https://cfph31415.github.io/api/home" target="_blank" ><i class="bx bx-link-external"></i></a>
            </div>
        </div>


        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_05.png" width="200" alt="">
            <div class="portafolio-layer">
                <h4> For my girlfriend </h4>
                <p>
                   Html, CSS and Javascript           
                 </p>
                <a href="https://cfph31415.github.io/Happy-Valentines-Day-Cyril/" target="_blank" ><i class="bx bx-link-external"></i></a>
            </div>
        </div>


        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_04.png" width="200" alt="">
            <div class="portafolio-layer">
                <h4> Converter using Java</h4>
                <p>
                    Currency, Temperature, Time and more!               
                 </p>
                <a href="https://github.com/CFPH31415/Challenge-Conversor" target="_blank" ><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        
        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_02.png" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Reservation in a hotel</h4>
                <p>
                  Java and MySQL 
                </p>
                <a href="https://github.com/CFPH31415/HotelAlura" target="_blank" ><i class="bx bx-link-external"></i></a>
            </div>
        </div>



        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_06.png" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Full Stack Project</h4>
                <p>
                  Angular, Java, Mysql Spring Boot and Api Rest
                </p>
                <a href="https://github.com/CFPH31415/challengeoneforoalura5" target="_blank" ><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_07.png" width="200" alt="">
            <div class="portafolio-layer">
                <h4>AluraGeek Manager</h4>
                <p>
                  Javascript  and JSON API Restful
                </p>
                <a href="https://alurageek-psi.vercel.app/" target="_blank" ><i class="bx bx-link-external"></i></a>
            </div>
        </div>


        <div class="portafolio-box">
            <img src="assets/imagesprojects/project_08.png" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Aluraflix Manager</h4>
                <p>
                  React with Vite and JSON Server
                </p>
                <a href="https://aluraflix-alpha-nine.vercel.app/" target="_blank" ><i class="bx bx-link-external"></i></a>
            </div>
        </div>


    </div>
</section>