<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, I'm</h3>
        <h1>Carlos Portillo</h1>
        <h3><span class="multiple-texto"></span></h3>
        <p>
            My name is Carlos Portillo, I am 25 years old from Peru. Since 2022, I entered the wonderful world of programming. I studied Front-End at CERTUS and Back-End through Oracle and Alura. I am highly motivated to continue learning and improving my soft skills and hard skills.
        </p>
        <div class="social-media">
            <a href="https://github.com/CFPH31415?tab=repositories"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/carlos-portillo-hern%C3%A1ndez-027270259/"><i class='bx bxl-linkedin'></i></a>
        </div>
        <a href="https://drive.google.com/file/d/1Z45tCMrUWmX-7y1lqy5qSP5hRYB3Nwfu/view?usp=sharing" download
            class="btn">Download CV</a>
    </div>
    <div class="home-img">
        <img src="assets/image/home.png" alt="">
    </div>
</section>

